/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.chart {
   -fx-padding: 10px;
}
.chart-plot-background {
   -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
   -fx-stroke: #dedddc; -fx-stroke-width: 1;
}
.chart-horizontal-grid-lines {
   -fx-stroke: #dedddc; -fx-stroke-width: 1;
}
.bodybg2{
 -fx-background-image: url('apexBG.png');
 -fx-background-size: 100% 100%;
}
#bodybg{
 -fx-background-image: url('apexBG.png');
 -fx-background-size: 100% 100%;
}